@import "variables.scss";

html {
  font-size: 10px;
}
body {
  color: $dark;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
a {
  text-decoration: none;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1232px;
  margin: 0 auto;
  padding: 33px 15px;
}

.nav {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  margin: 0;

  &__item {
    margin-left: 4.4rem;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-left: 2.7rem;
    }
  }

  &__link {
    color: $dark;
  }
  &__btn {
    font-size: 1.4rem;
    background-color: $purple;
    color: $white;
    padding: 1.6rem 2.6rem;
    border-radius: 0.6rem;
  }
}
.banner {
  text-align: center;
  background-color: $dark;
  color: $white;
  padding-top: 62px;
  padding-bottom: 757px;
  position: relative;
  &__title {
    font-size: 5.5rem;
    max-width: 570px;
    margin: 0 auto 3.1rem;
    font-weight: 400;
  }
  &__img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -172px;
    margin: 0 auto;
  }
}

.container {
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 15px;
}
.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5.5rem;

  &__btn {
    display: inline-block;
    border: 1px solid $white;
    font-size: 1.6rem;
    padding: 1.7rem 3.7rem;
    color: $white;
    background-color: transparent;
    border-radius: 0.6rem;
    margin: 0.8rem;

    &-main {
      padding: 1.6rem 3.7rem;
      font-size: 1.5rem;
      background-color: $purple;
      border: 1px solid $purple;
    }
  }
}
