@import "variables.scss";

html {
  font-size: 10px;
}
body {
  color: $text;
  font-size: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1232px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.nav {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;

  &__item {
  }

  &__link {
    color: $text;
    text-decoration: none;
  }
}
