@import "variables.scss";

html {
  font-size: 10px;
}
body {
  color: $dark;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
a {
  text-decoration: none;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1232px;
  margin: 0 auto;
  padding: 33px 15px;
}

.nav {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  margin: 0;

  &__item {
    margin-left: 4.4rem;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-left: 2.7rem;
    }
  }

  &__link {
    color: $dark;
  }
  &__btn {
    font-size: 1.4rem;
    background-color: $purple;
    color: $white;
    padding: 1.6rem 2.6rem;
    border-radius: 0.6rem;
  }
}
.banner {
  text-align: center;
  background-color: $dark;
  color: $white;
  padding-top: 62px;
  padding-bottom: 757px;
  position: relative;
  &__title {
    font-size: 5.5rem;
    max-width: 570px;
    margin: 0 auto 3.1rem;
    font-weight: 400;
  }
  &__img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -172px;
    margin: 0 auto;
  }
}

.container {
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 15px;
}
.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5.5rem;

  &__btn {
    display: inline-block;
    border: 1px solid $white;
    font-size: 1.6rem;
    padding: 1.7rem 3.7rem;
    color: $white;
    background-color: transparent;
    border-radius: 0.6rem;
    margin: 0.8rem;

    &-main {
      padding: 1.6rem 3.7rem;
      font-size: 1.5rem;
      background-color: $purple;
      border: 1px solid $purple;
    }
  }
}
.section {
  padding-top: 150px;
  &__title {
    font-size: 4.8rem;
    font-weight: 700;
    text-align: center;
    max-width: 650px;
    margin: 0 auto;
  }
}
.tarif {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  &-item {
    flex: 0 0 32%;
    &-01 {
      .tarif-footer {
        background-color: rgba($color: $dark, $alpha: 0.03);
      }
      .tarif-list__item {
        &::before {
          background-image: url(../images/check-01.svg);
        }
      }
    }
    &-02 {
      .tarif-footer {
        background-color: rgba($color: #19c787, $alpha: 0.05);
      }
      .tarif-list__item {
        &::before {
          background-image: url(../images/check-02.svg);
        }
      }
    }
    &-03 {
      .tarif-footer {
        background-color: rgba($color: #fcb934, $alpha: 0.05);
      }
      .tarif-list__item {
        &::before {
          background-image: url(../images/check-03.svg);
        }
      }
    }
  }
  &-footer {
    border-radius: 0 0 0.8rem 0.8rem;
    padding: 2.4rem 3rem;
  }
  &-list {
    list-style: none;
    padding-left: 0;
    font-size: 1.4rem;
    font-weight: 700;
    &__item {
      position: relative;
      padding-left: 3rem;
      margin-bottom: 1.4rem;
      background-repeat: no-repeat;
      background-size: cover;
      &::before {
        content: "";
        display: block;
        width: 2rem;
        height: 2rem;
        position: absolute;
        top: calc(50% - 1rem);
        left: 0;
      }
    }
  }
}
