@import "variables.scss";

html {
  font-size: 10px;
}
body {
  color: $dark;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1232px;
  margin: 0 auto;
  padding: 33px 15px;
}

.nav {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  margin: 0;

  &__item {
    margin-left: 4.4rem;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-left: 2.7rem;
    }
  }

  &__link {
    color: $text;
    text-decoration: none;
  }
  &__btn {
    font-size: 1.4rem;
    background-color: $purple;
    color: $white;
    text-decoration: none;
    padding: 1.6rem 2.6rem;
    border-radius: 0.6rem;
  }
}
.banner {
}
